---
---

.logo {
    width: 225px;
    height: 225px;
}

.thumbnail {
    height: 50%;
    width: 50%;
}

.thumbnail-25 {
    height: 25%;
    width: 25%;
}

@import "basically-basic";

// Fixes an issue with lightbox and the navigation buttons when an image is shown.
.sidebar-toggle-wrapper {
    z-index: 9999;
}