# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: SonarCloud

on: [ push, pull_request ]

permissions:
  pull-requests: read # allows SonarCloud to decorate PRs with analysis results
  
env:
  # See LTS versions supported: https://nodejs.org/en/about/releases/
  NODE_VERSION: 16

jobs:
  analyze:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0

    - uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'
      
    - run: npm ci
    - run: npm run release

    - name: Scan with SonarCloud
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: Check Quality Gate
      uses: SonarSource/sonarqube-quality-gate-action@master

      # Only run the checks for pull requests
      if: ${{ github.event_name == 'pull_request' }}

      # Force to fail step after specific time
      timeout-minutes: 5
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}